body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
}


label{
    display: inline-block;
    background-color:white;
    width: 10%;
}

table, th, td {
    background-color: white;
    border: 1px solid black;
}

th{
    background-color: grey;    
}


footer {
    background-color: #333;
    color: white;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}


  